@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
.container {
    max-width: 1100px;
    padding: 0 25px;
    margin: 0 auto;
	position: relative;
}

:root{
	--white: #ffffff;
	--fa: #fafafa;
    --lightgrey: #737373;
    --grey: #252b42;
    --black: #000000;
	--green: #00A0C1;
	--orange: #FFA62B;
}

body{
	background-color: var(--fa);
}

.navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
	color: var(--fa);
}
nav{
	position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.3s;
    background: var(--nav-color);
    padding: 25px 0;
	background-color: var(--fa);
}
.navbarshrink{
	padding: 20px 0px;
	box-shadow: 0px 3px 15px var(--lightgrey);
}

.navleft h1{
	font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--grey);
}

.navright ul li{
	display: inline-block;
	margin: 0 14px;
	font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--lightgrey);
}
.navright ul li a{
	color: var(--lightgrey);
}


.navright ul li a:hover{
	color: var(--black);
}

.hamburger{
	display: none;
}
.hamburger img{
	width: 40px;
	height: auto;
}
#navbar-close img{
	width: 50px;
    height: auto;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

@media (max-width: 600px){
	.navright{
		display: none;
	}
	.hamburger{
		display: block;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
	#navbar-responsive {
		display: block;
		position: fixed;
	    top: 0;
		bottom: 0;
	    height: 100vh;
	    width: 100%;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    background-color: var(--fa);
	    transition: 1s;
		text-align: center;
		color: var(--lightgrey);
	}
	.homeup{
		text-align: center;
	}
	.homeup p{
		max-width: 100%;
	}
}
@media (min-width:600px){
	#navbar-responsive{
		display: none;
	}
	.homeup p{
		max-width: 39%;
	}
}
@media (max-width: 1200px){
	.homeup {
		padding: 90px 0 170px;
	}
}

.home-content {
    padding: 90px 0 170px;
}

#navbar-close{
	border: none;
	background-color: transparent;
	cursor: pointer;
}
#navbar-responsive ul li{
	margin: 10px;
}

#navbar-responsive ul li a{
	font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
	color: var(--lightgrey);
}

#navbar-responsive ul li a:hover{
	color: var(--black);
}


/* header */

header{
	position: relative;
	background-image: url(./images/background.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.homeup{
	padding: 104px 0 250px;
	width: 100%;
	display: flex;
	flex-direction: column;
	
}

.homeup h1,h2{
	font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: var(--grey);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.homeup h2{
	display: flex;
	margin-bottom: 35px;
}

.homeup p{
	display: flex;
	font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--lightgrey);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.homebtns{
	display: flex;
    position: absolute;
    top: 0;
    margin-top: 394px;
	margin-bottom: 268px;
}

.homebtns button{
	margin-right: 10px;
	padding: 10px 36px;
	font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--green);
	border: 1px solid var(--green);
	border-radius: 37px;
	background-color: transparent;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.homebtns button:hover{
	color: var(--white);
	background-color: var(--orange);
	border: none;
	transition: 0.2s;
}

.homecards{
	position: absolute;
    bottom: -150px;
	display: flex;
    gap: 40px;
	
}

.homecard{
	width: 30%;
    padding: 39px 16px 35px 40px;
    background: var(--white);
    box-shadow: 0px 13px 19px rgb(0 0 0 / 7%);
}

.homecard h3{
	margin: 13px 0 10px;
	font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--black);
}

.homecard p{
	margin-right: 64px;
	font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--lightgrey);
    flex: none;
    order: 2;
    flex-grow: 0;
}

.homecard:hover{
	background: var(--green);
}

.homecard:hover p{
	color: var(--white);
}
.homecard:hover h3{
	color: var(--white);
}

.homecard:hover svg path{
	fill: var(--white);
}


